# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
.DS_Store
tmtags
Thumbs.db
Desktop.ini
# ignore Composer downloads
/vendor
# keep some hiddens
!.htaccess
!/.gitignore
.travis.yml
# ignore keys

lib/Interceptor/*.p12
lib/Interceptor/*.pem

##### Composer
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock

##### PHP CodeSniffer
# gitignore for the PHP Codesniffer framework
# website: https://github.com/squizlabs/PHP_CodeSniffer
#
# Recommended template: PHP.gitignore

##### Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders


##### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/